<html>
  <head>
    <title>Olin Course Catalog: {{ instructor }}</title>
    <style type="text/css">
      td, th { border: 0 !important; }

      body {
        background: #eee;
      }

    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../static/styles/styles.css" />
    <script src="https://use.fontawesome.com/2be91a05f0.js"></script>
  </head>
  <body>
    <h1 id="header">
      <a href="/"><i class='fa fa-arrow-left'></i></a>
        {{instructor}}
    </h1>
    <dl>
      {% for index, course in courses %}
        <div class="item">
          <h1><dt>{{ course.course_number }}: {{ course.course_name }}</dt></h1>
          <h2>{{ course.course_contact }}</h2>
          <dd>{{ course.course_description }}</dd>
        </div>
      {% endfor %}
    </dl>
  </body>
</html>
